#chat_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #dec2260f;
  position: relative;
}

.actives-chats-container {
  width: 90%;
  height: 700px;
  border-radius: 20px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(207, 195, 207, 1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(207, 195, 207, 1);
  box-shadow: 0px 0px 7px 1px rgba(207, 195, 207, 1);

  & .chats-container-header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e6e5e5;
  }
}

.main-content {
  height: 700px;
  width: 90%;
  padding: 20px 20px 0 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(207, 195, 207, 1);
  -moz-box-shadow: 0px 0px 7px 1px rgba(207, 195, 207, 1);
  box-shadow: 0px 0px 7px 1px rgba(207, 195, 207, 1);
  position: absolute;
}

.messages-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

  & .messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  & .messages-footer-container {
    bottom: 0;
    left: 0;
    border-top: 1px solid #e6e5e5;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px;
    justify-content: center;
    width: 100%;
    background-color: #f6f6f6;
    position: absolute;

    form {
      width: 100%;
    }

    & .input-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & input {
        width: 70%;
        height: 50px;
        padding: 15px;
        border-radius: 10px;
      }

      & button {
        width: 90px;
        height: 50px;
        border-radius: 10px;
        margin-left: 20px;
      }
    }
  }

  & .messages-header-container {
    gap: 30px;
    /* height: 120px; */
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e6e5e5;
  }

  & .message-container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    margin: 10px;

    & .message-content {
      margin: 0;
      flex: 1;
      font-size: 18px;
      text-align: justify;
    }
  }

  & .message-container.message-container--right {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    background-color: var(--mutard-light-bg-color-opacity);
  }

  & .message-container.message-container--left {
    align-self: flex-start;
    background-color: #bccbc2;
  }
}

.messages-header-btn {
  background: none;
  border: none;
  width: 20px;
}

.material-symbols-outlined {
  display: flex;
  align-items: center;
}

.image-provider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.image-provider {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.chat-item {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 30px;
  border-bottom: 1px solid #e6e5e5;
}

@media (min-width: 700px) {
  #chat_container {
    flex-direction: row;
    padding-top: 110px;
    column-gap: 40px;
    position: initial;
    /* background-color: #dec2260f; */
  }

  .messages-container {
    position: relative;

    & .messages-footer-container {
      position: absolute;
    }
  }

  .actives-chats-container {
    height: 100%;
    width: 305px;
  }

  .main-content {
    flex: 1;
    position: initial;
    height: 100%;
  }
}

@media (min-width: 1400px) {
  .actives-chats-container {
    width: 390px;
  }
  .main-content {
    width: 60%;
    flex: none;
  }
}
