main {
  max-height: calc(100vh-120px);
}

#chat_container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 700px) {
  #chat_container {
    flex-direction: row;
    padding-top: 10vh;
    column-gap: 40px;
  }

  .actives-chats-container {
    width: 30%;
    min-height: 100vh;

    & header {
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-bottom: 1px solid #e6e5e5;
    }
  }
  .main-content {
    max-height: 100vh;
  }

  .messages-container {
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: calc(
      100vh - 120px
    ); /* Resta la altura del header al 100vh para el máximo del messages-container */
    overflow-y: auto;

    & header {
      gap: 30px;
      height: 120px;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #e6e5e5;
    }

    & .message-container {
      display: flex;
      min-width: 70%;
      max-width: 90%;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: aquamarine;
      margin: 10px;

      & p {
        margin: 0;
        width: 80%;
        font-size: 18px;
        text-align: justify;
      }
    }

    & footer {
      position: sticky;
      bottom: 0;
      left: 0;
      background-color: grey;
      border-top: 1px solid #e6e5e5;
      display: flex;
      align-items: center;
      min-height: 100px;
      height: 100px;
      padding: 20px;
      justify-content: center;
      width: 100%;

      & .input-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & input {
          width: 70%;
          height: 50px;
          padding: 15px;
          border-radius: 10px;
        }

        & button {
          width: 90px;
          height: 50px;
          border-radius: 10px;
          margin-left: 20px;
        }
      }
    }
  }

  .image-provider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }

  .image-provider {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .chat-item {
    width: 100%;
    display: flex;
    height: 120px;
    padding: 10px;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid #e6e5e5;
  }
}
