#checkcode-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--mutard-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & .form-wrap {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    margin-top: 100px;
    width: 370px;
    padding: 20px;
    -webkit-box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);
    -moz-box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);
    box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);

    & .user_container {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      & .input_user {
        width: 80%;
        height: 30px;
      }
    }

    & .btn_container {
      margin: 12px;
      display: flex;
      justify-content: center;

      & .btn {
        width: 100%;
        padding: 7px;
        color: var(--white-color);
        font-weight: 500;
      }
    }

    & .bottom-text {
      text-align: center;
    }
  }
}
