#dashboard-container {
 /* width: 100vw;
   min-height: 100vh;
   margin margin-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;*/
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden; 
  
}
 .box-service-offered{
    width: 50px;
    display: felx;    
  }
.backpicture {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  margin: 200px;
  width: 80%;
  height: 80%; 
  opacity: 0.9; /* Ajusta la opacidad según tus preferencias */
  z-index: -1;
}
.web-sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px; /* Espaciado entre la imagen y los contenedores */
}
.box-service-offered,
.box-service-demanded,
.box-events,
.box-statements {
  width: 300px;
  height: 350px;
  background-color: white;
  border: 2px solid #ffffff;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  margin: 80px;
  position: relative;
  ;
}
#dashboard-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra de texto para mejorar la visibilidad sobre la imagen */
  z-index: 3;
}
h2{
  color: var(--mutard-bg-color);
  text-decoration: none;
}
p {
  color: #050505;
  text-decoration: none;
}

