#eventpage-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  & .event_container {
    width: 90%;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;

    & .event_user {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        text-align: center;
      }

      & .organizer-photo_container {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    & .event_container-body {
      display: flex;
      width: 100%;
      align-items: center;

      & .event_title {
        text-align: center;
      }

      & .event_description {
        text-align: center;
      }
    }

    & .event_container-body {
      display: flex;
      flex-direction: column;
      padding-top: 50px;

      & .event_description {
        text-align: justify;
        padding: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #e6e5e5;
      }

      & .event_photos-title {
        text-align: center;
        font-weight: 500;
        margin-top: 20px;
      }

      & .event-photo_container {
        display: flex;
        justify-content: center;
        padding-top: 30px;
      }

      & .event_photos {
        margin: auto;
        min-width: 80%;
      }

      & .comments_container {
        width: 100%;
        margin-top: 30px;
        padding: 40px 20px 0px;
        background-color: rgb(252, 252, 252);
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 4px;
        box-shadow:
          rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
          rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
          rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
        margin-bottom: 30px;

        h2 {
          margin-bottom: 20px;
        }

        & .comment_input {
          display: flex;
          width: 100%;
          margin-bottom: 10px;

          & input {
            width: 70%;
          }
        }

        & .comment_avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        & .comment_stars {
          margin-bottom: 30px;
        }

        & button {
          padding: 10px;
          border-radius: 20px;
          border: none;
          cursor: pointer;
          background-color: var(--mutard-bg-color);
          color: var(--black-bg-color);
          -webkit-box-shadow: 9px 11px 17px -11px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 9px 11px 17px -11px rgba(0, 0, 0, 0.75);
          box-shadow: 9px 11px 17px -11px rgba(0, 0, 0, 0.75);
          margin-bottom: 20px;
        }

        & button:hover {
          background-color: var(--mutard-light-bg-color);
        }

        & .comment_allcoment {
          padding: 20px 0;
          display: flex;
          margin-bottom: 10px;
          border-top: 1px solid #e6e5e5;

          & .comment_user-photo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;

            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          & .comment_infos {
            flex: 1;
          }
        }
      }
    }
  }
}

@media (min-width: 700px) {
  #eventpage-container {
    & .service_container {
      width: 90%;
      flex-direction: row;
    }
  }
}

@media (min-width: 900px) {
  #eventpage-container{
    & .service_container {
      width: 70%;
    }
  }
}
