#login-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mutard-bg-color);

  & .form-wrap {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    width: 350px;
    padding: 30px 0;
    -webkit-box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);
    -moz-box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);
    box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);
    height: 430px;

    h1 {
      text-decoration: underline;
    }

    & form {
      display: flex;
      flex-direction: column;
      width: 90%;
      gap: 10px;

      & .email_container,
      & .password_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .input_user {
          width: 80%;
          height: 30px;
        }
      }

      & .btn_container {
        display: flex;
        justify-content: center;
        width: 100%;

        & button {
          width: 80%;
          padding: 6px;
          color: var(--white-color);
          margin-top: 20px;
        }
      }

      & .bottom-text {
        text-align: center;
      }

      & .parrafoLogin {
        text-align: center;
        font-weight: 500;
      }
    }
  }

  & .footerForm {
    text-align: center;
    font-weight: 500;
  }
}

.vecinos {
  display: none;
}

@media(min-width:970px) {
  #login-container {
    flex-direction: row;
    background-color: initial;
  }

  .vecinos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
  }

  .mostard-square {
    background-color: var(--mutard-bg-color);
    width: 440px;
    height: 326px;
    position: absolute;
    left: 72px;
    top: 20%;
    border-radius: 20px;
  }

  .imageLogin {
    width: 500px;
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    top: 27%;
    -webkit-box-shadow: 0px -1px 19px -1px rgba(126, 127, 133, 1);
    -moz-box-shadow: 0px -1px 19px -1px rgba(126, 127, 133, 1);
    box-shadow: 0px -1px 19px -1px rgba(126, 127, 133, 1);
  }

  .form-container {
    width: 40vw;
    display: flex;
    justify-content: center;
  }
}

@media(min-width: 1130px) {
  .form-container {
    justify-content: flex-start;
  }
}
