#login-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mutard-bg-color); 
}

#login-container .form-wrap {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  width: 350px;
  padding: 30px 0;
  -webkit-box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);
  -moz-box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);
  box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);
  height: 430px;
}

#login-container .form-wrap h1 {
  text-decoration: underline;
}

#login-container .form-wrap form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
}

#login-container .form-wrap form input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.email_container,
.password_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_user {
  width: 80%;
  height: 30px;
}

.btn_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#login-container .form-wrap button {
  width: 80%;
  padding: 6px;
  color: var(--white-color);
  margin-top: 20px;
}

.bottom-text {
    text-align: center;
}

.parrafoLogin {
    text-align: center;
    font-weight: 500;
}

.footerForm {
  text-align: center;
  font-weight: 500;
}

.vecinos {
  display: none;
}

@media(min-width:970px) {
  #login-container {
    flex-direction: row;
    background-color: initial;
  }

  #login-container .form-container {
    width: 40vh;
    width: 40vw;
    display: flex;
    justify-content: center;
  }

  .vecinos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100vh;
  }

  .imageLogin {
    width: 500px;
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    top: 27%;
  }
}

@media(min-width: 1130px) {
  #login-container .form-container {
    justify-content: flex-start;
    width: 50vw;
  }
}

@media(min-width: 1230px) {
  .imageLogin {
    width: 600px;
    border-radius: 20px;
    z-index: 2;
    position: absolute;
    top: 27%;
  }
}
