.nav__profile {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#deleteUser {
  width: 42px;
  height: 42px;
}

.tools__profile {
  min-height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#change__profile {
  width: 30px;
  height: 30px;
}

.nav__img__delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}
#infoProfile {
  transform: scale(0.8);
}

.profile__buttons__primary,
.profile__buttons__second {
  display: flex;

  align-items: center;
  justify-content: center;
}

.profile__buttons__primary {
  & select {
    width: 350px;
    height: 40px;
    margin: 1rem;
    text-align: center;
  }
}

.profile__buttons__second {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 3rem;

  & span {
    display: block;
    transform: scale(1.5);
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: flex;

    align-items: center;
    justify-content: center;
  }
  & a {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(1.5);
  }
}

.info_user_data {
  padding: 1rem;
}
#profile-container {
  & .profile_info_card {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    -webkit-box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 0.685);
    -moz-box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 0.685);
    box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 0.685);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px 30px 0 0;
    }
  }
}

.my_content {
  & .dashboard__card {
    width: 252px;
    height: 350px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);
    -moz-box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);
    box-shadow: 5px -1px 19px -1px rgba(126, 127, 133, 1);

    & .card__header {
      width: 100%;
      flex: 1;
      height: 50%;
      border-radius: 30px 30px 0 0;
      display: flex;
      justify-content: center;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px 30px 0 0;
      }
    }

    & .card__body {
      width: 100%;
      flex: 1;
      border-radius: 0 0 30px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px;
    }
    h4 {
      padding: 20px;
    }
  }

  & .update_delete_buttons {
    display: flex;
    cursor: pointer;
    & .material-symbols-outlined {
      color: #000000;
      padding: 0px 60px 0px 60px;
    }
  }
}
