footer {
  background-color: var(--black-bg-color);
  min-height: 150px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  /* padding: 20px 0px 30px 0px;
  margin: 10px 0px 0px 0px; */
  font-size: small;

  .block_one ul {
    list-style: none;
  }

  .block_one a {
    text-decoration: none;
    color: #fff;
  }

  .block_two ul {
    list-style: none;
  }

  .block_two a {
    text-decoration: none;
    color: #fff;
  }

  .redes img {
    width: 30px;
    height: 30px;
    margin: 5px;
  }

  .block_one,
  .block_two,
  .redes {
    flex: 1;
    text-align: justify;
    margin: 10px 0px 0px 150px;
  }

  .condiciones {
    flex-basis: 100%;

    & ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 80px;
      margin: 20px 0px 0px 350px;
      font-size: smaller;
    }
  }
}

.fourth-section {
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 100vw;
  height: 760px;
  background-image: url(https://res.cloudinary.com/dqiveomlb/image/upload/v1709290908/oyeVecino/edificios_ymoi92.jpg);
  background-size: 700px;
  background-position-y: 25em;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-color: var(--white-color);
  text-align: center;

  & h2 {
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
    span {
      color: var(--mutard-bg-color);
    }
  }

  & > p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Open sans', sans-serif;
    font-style: italic;
    max-width: 670px;
    align-self: center;
  }
}

@media (min-width: 500px) {
  .fourth-section {
    height: 600px;
    background-position-y: 15em;
  }
}

@media (min-width: 700px) {
  .fourth-section {
    height: 600px;
    background-size: 1000px;
    background-position-y: 5em;
  }
}

@media (min-width: 1100px) {
  .fourth-section {
    background-size: 1300px;
    background-position-y: -2em;
  }
}
