@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

#file-image {
  width: 190px;
}

#file-image.hidden {
  display: none;
}

.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  height: 300px;
}

.uploader.hover {
  border: 3px solid var(--mutard-bg-color);
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader > label {
  width: 80%;
  text-align: center;
}
#start > i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}

#start {
  float: left;
  clear: both;
  width: 100%;
}
#start.hidden {
  display: none;
}

i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

#file-drag {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  clear: both;
  width: 100%;
  height: 320px;
  padding: 0.3rem 0.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.46);
  transition: all 0.2s ease;
  user-select: none;
  justify-content: center;
  align-items: center;
}

#file-drag:hover {
  -webkit-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.46);
}

.uploader.btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

#file-upload-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.uploader > div {
  margin: 0 0 0.5rem 0;
  color: #5f6982;
}
input[type='file'] {
  display: none;
}

#notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

#notimage.hidden {
  display: none;
}

#response {
  width: 270px;
}

#response.hidden {
  display: none;
}

.thumbnail {
  width: 300px;
}
strong {
  display: block;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#messages {
  margin-bottom: 0.5rem;
}
#messages {
  margin-bottom: 0.5rem;
}

#messages strong {
  width: 80%;
}

#file-upload-btn {
  margin: 50px;
}

#file-upload-btn.hidden {
  display: none;
}

.divSelect {
  margin: 10px;
}
